* {
    box-sizing: border-box;
  }
  body {
    background-color: rgb(226, 178, 196);
  }
  
/* Style the header */
.header {
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 40px;
  }
  /* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color:#333;
  }
  /* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color:seashell;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 200px;
    height: 70px;
  }
  /* Change color on hover */
.topnav a:hover {
    background-color:rosybrown;
    color: black;
  }


  .imgmain img{
    background-color: rgb(44, 41, 41);
    width: 100%;
    padding: 20px;
  }


      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
    }

.btn {
    font-size: 30px;
    margin-top: 20px;
    background-color: #333;
}
.footer {
    background-color: #F1F1F1;
    text-align: center;
    margin-top: 40px;
}
.footer p {
    background-color:#333;
    text-align: center;
    font-size: 30px;
    padding: 50px;
}
.wrapper {
  display: grid;
  grid-template-columns: 375px 375px 375px;
  border-color: rgb(71, 20, 52);
  padding: 10px;
  margin-top: 40px;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 480px 2fr;
  text-align: center;
  margin-top: 40px;
}
.wrapper2 h2 {
  font-size: 30px;
}
.wrapper2 p {
  font-size: 20px;
}
.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}